<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

    <h1> <%= result.t_i_t_l_e || result.T_I_T_L_E %> </h1>

    <h2><a href="/recipes"><%= result.l_i_n_k_1 || result.L_i_n_k_1 %></a></h2>
    <h2><a href="/ingredients"><%= result.l_i_n_k_2 || result.L_i_n_k_2%></a></h2>

<%- include('./partials/footer') %> 
