<%- include('./partials/header') %> 
    <a href="/" style="font-style: italic;">Home</a>

    <h1><%= result.t_i_t_l_e || result.T_I_T_L_E %> </h1>
    <form action="/login" method="POST">
        <label for=""><%= result.i_n_p_u_t_1 %></label><br>
        <input type="text" name="username"><br>
        <label for=""><%= result.i_n_p_u_t_2 %></label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="<%= result.t_i_t_l_e || result.T_I_T_L_E %>">
    </form>

<%- include('./partials/footer') %> 
